<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div>
      <% if (!loggedIn) { %>
        <form id="loginForm" action="/login" method="POST">
          <input type="text" name="username" placeholder="Username" />
          <input type="password" name="password" placeholder="Password" />
          <button type="submit">Login</button>
        </form>
        <% } else { %>
          
          <p id="welcomeMessage"></p>

          <div>
            <div>
              <canvas id="sheet" width="800" height="500"></canvas>
            </div>
          </div>
  
          <div>
            <div>
              <button class="round-button lapiz selected" onclick="selectColor('lapiz')">
                Lapiz
              </button>
            </div>
            <div>
              <button class="round-button borrar" onclick="selectColor('borrar')">
                Borrar
              </button>
            </div>
          </div>

          <div>
            <button class="round-button colores" onclick="openColorGrid()">
              Color
            </button>
            <span class="color-square"></span>
          </div>
          
          <div>
            <button class="round-button" onclick="eraseEverything()">
              Borrar Todo
            </button>
          </div>

          <!-- Add the logout button -->
          <form id="logoutForm" action="/logout" method="POST">
            <button class="round-button" type="submit">Salir</button>
          </form>

          <% } %>
    </div>
  </body>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script src="/javascripts/draw.js"></script>
  <script src="/javascripts/logout.js"></script>
  <script>
    // Client-side script to set the welcome message with the username
      window.addEventListener('DOMContentLoaded', () => {
        const urlParams = new URLSearchParams(window.location.search);
        const username = urlParams.get('username');
        if (username) {
          const welcomeMessage = document.getElementById('welcomeMessage');
          welcomeMessage.textContent = `${username}!`;
        }
      });
  </script>
</html>